[2017-03-29 01:59] znicholls opened #1 "Setup.py"
Setup.py script so that FAIR can be installed as a module. Need to decide whether we will use setuptools or an alternative.

[2017-03-30 12:35] richardcode commented on #1
I think standard setup tools should be fine. We should keep everything as minimal and basic as we can get away with...

[2017-03-31 02:35] znicholls commented on #3
You can reassign attributes by simply using e.g.

    t1 = FAIR()
    t1.TCR = 2.5
    t1.ECS = 4.5

We can solve the issue of recalculating derived parameters using properties [https://www.programiz.com/python-programming/property](https://www.programiz.com/python-programming/property). I will do this in my next commit.

[2017-03-31 03:16] znicholls commented on #3
After commit 'd261ffea2ee494b4173fb6d69c493886e6f332c6' we can do
[code]

[2017-03-31 04:43] znicholls opened #9 "Integers"
So if you give FAIR an integer list of emissions the whole thing breaks (no temperature response). I haven't diagnosed why but would an easier solution be to just force everything to be a float when it's assigned?

[2017-03-31 06:13] znicholls commented on #8
I think we should follow [https://www.python.org/dev/peps/pep-0257/](https://www.python.org/dev/peps/pep-0257/)

[2017-03-31 07:01] znicholls commented on #1
@richardcode
I agree we don't want to get too caught up in things but my impression is that if you want to distribute these things you have to use either easytools or pip, both of which are built on setup tools. Having looked around a bit it seems we should stay well away from easytools e.g. [https://webvulture.wordpress.com/2011/11/12/easy_install-vs-pip/](https://webvulture.wordpress.com/2011/11

[2017-04-01 06:05] znicholls commented on #1
Reading this I'm leaning more towards conda [http://stackoverflow.com/questions/20994716/what-is-the-difference-between-pip-and-conda](http://stackoverflow.com/questions/20994716/what-is-the-difference-between-pip-and-conda) especially given we don't just have Python versions

[2017-04-03 09:52] znicholls commented on #8
NOTES FROM PEP 257 https://www.python.org/dev/peps/pep-0257/
The docstring for a module should generally list the classes, exceptions and
functions (and any other objects) that are exported by the module, with a
one-line summary of each. (These summaries generally give less detail than the
summary line in the object's docstring.) The docstring for a package (i.e.,
the docstring of the package's __

[2017-04-03 10:04] znicholls commented on #8
In our documentation we need to decide at what point in each timestep each value is relevant e.g. are concentrations for the 2000 box the start of year, middle of year or end of year concentrations or some implicit average value. Similarly for temp, carbon uptake, IRF100 etc. etc.

[2017-04-04 04:23] znicholls commented on #1
A good example of something similar? https://github.com/openclimatedata/pymagicc

[2017-04-04 04:36] znicholls opened #10 "Test scripts"
Should we include test scripts with the distribution?

[2017-04-10 08:01] znicholls commented on #1
@richardcode commit `b355745d0834d48f1b3e8bbefbdc1a3ec6db2e4d` contains a setup.py file and the necessary other bits to install with setuptools. I'll write some documentation tomorrow and when you're ready we can discuss how exactly we want this all to end up looking.

[2017-04-10 17:08] richardcode commented on #9
@znicholls I agree, forcing everything to be a float on initialisation and assignment as you have it seems the best thing to do.

[2017-04-10 17:08] #9 closed

[2017-04-10 17:10] richardcode commented on #6
I think we should avoid tabs as they can cause problems in some editors.
http://www.secnetix.de/olli/Python/block_indentation.hawk

[2017-04-10 17:14] richardcode commented on #4
Definitely agree about the repository structure. I think it would be good to have just one "source code" folder which contains all the actual scripts and then just the setup/examples/doc files living above that.

[2017-04-10 17:15] richardcode commented on #10
Would be good to include a very simple example I reckon. Maybe just the response to a pulse emission in pre-industrial?

[2017-04-10 17:33] richardcode commented on #1
@znicholls I definitely agree that conda is the way forward. I try to use it when ever it is possible at the moment as it is so much better than the alternatives. Will have a play with this all when I can spend a few hours on this before bed.

[2017-04-11 18:41] richardcode commented on #1
@znicholls did you upload this to PyPI in the end? Would be keen to make the conda recipe for building this but don't want to duplicate anything that you've done already. Your setup.py seems to work for me too!

[2017-04-11 18:43] richardcode commented on #5
Just found a BEAM github repository. This would be one potential way for us to go if we do want to implement this feature...

[2017-04-12 06:49] znicholls commented on #1
Yes on the test site here https://testpypi.python.org/pypi/fair-objo/0.0.0.dev0

I was going to follow https://conda.io/docs/building/build.html to work out how to make a conda package but haven't done so yet. Notes on PyPI/pip packaging coming soon hopefully.

[2017-04-12 09:55] znicholls commented on #1
Sorry here is the command to install from the test site

`pip install -i https://testpypi.python.org/pypi fair_objo`

[2017-04-16 08:52] znicholls commented on #6
Sounds sensible, I think we should follow this https://www.python.org/dev/peps/pep-0008/

[2017-04-16 13:32] znicholls commented on #4
Happy with our current directory structure, naming still needs to be decided on. Some prescriptions from [PEP 8](https://www.python.org/dev/peps/pep-0008/#prescriptive-naming-conventions)

- modules and packages: short, all-lowercase names, underscores if they improve readability
- classes: CapWords convention
- Avoid using 'l' (lowercase letter el), 'O' (uppercase letter oh), or 'I' (uppercase le

[2017-04-25 11:14] richardcode commented on #6
Agreed! Let's try to stick to this convention.

[2017-05-30 02:44] #1 closed

[2017-06-17 07:43] #10 closed

[2018-01-06 01:34] znicholls opened #2 "Start using versioneer"
The way we're doing things at the moment is not the smartest I don't think. Given how slow development is it's not really an issue but `versioneer` seems to be a good option if it does become an issue.

https://github.com/warner/python-versioneer

[2018-01-06 01:54] znicholls opened #3 "Write script which determines atoms in species from chemical formula"
I have one in MATLAB, just need to dig it up. Also requires table of chemical formulas for each species name.

[2018-01-06 02:13] znicholls opened #4 "Make integrated impulse response time horizon (100yrs) a keyword argument"
Probably do some sensitivity tests afterwards. I wonder what happens if you fiddle around with it.

[2018-01-06 02:29] znicholls opened #5 "Convert to object orientation"
It's a shame we haven't done this already, it will make life so much easier.

[2018-01-06 02:29] znicholls opened #6 "Add continuous integration"
Not sure exactly what kind of set up we want yet but some initial thoughts:
- some sort of linter
- automated test suite of both simple run cases (e.g. no emissions gives no temp change, response to doubling of CO2 etc.) and installation

[2018-01-11 19:32] chrisroadmap commented on #2
I've added a branch (add_versioneer) in which I've set up `versioneer`. It appears to work. I **think** that each developer would need to install `versioneer` themselves locally, but once done my understanding is that it should automatically tag revisions once changes are committed. Let me know if you're happy to merge in.

[2018-01-11 19:35] chrisroadmap commented on #6
First test should be to see whether

[code]

doesn't result in an import error and returns a sensible answer (currently 1.1-x.abcdefgh, where x is the revision number and abcdefgh is the revision hash).

[2018-01-12 00:35] znicholls commented on #2
If we add `versioneer` as a dependency in `setup.py` would we skip the need for people to think about installing `versioneer` locally i.e. it would happen automatically?

[2018-01-12 07:07] chrisroadmap commented on #2
It's my understanding that users don't need to install it as it lives in the setup script. Actually, once it's in place and configured I'm not sure developers need to install it locally either as I think `versioneer.py` handles the version tagging automatically.

[2018-01-12 07:10] znicholls commented on #2
Ah ok yes I understand. I think you're right. I'd also be very surprised if there weren't a way to specify which modules developers need.

[2018-01-12 07:12] znicholls opened #7 "Add contributing guide"
Once we're at the point where we know what we're doing re development, it would be good to write a `contributing.md` document so that others can quickly get going. I'd prefer to not add this into the `master` branch until it's complete as I always find it very confusing when I get halfway through a document like this and then it suddenly ends/there's gaps. Or we could add it and have a clear warni

[2018-01-12 08:48] chrisroadmap opened #8 "Deletion of multi_gas branch"
This is the branch that was ported over from FAIR-pro but had a different commit history and it was too difficult to merge into the main code so I started from scratch with branch_1.1.0 which has now been merged in. It should now be safe to delete multi_gas which will clean up the repo but I just wanted to make sure.

[2018-01-12 13:47] znicholls commented on #8
If you're happy to delete it I'm happy, @richardcode ?

[2018-01-12 13:58] richardcode commented on #5
Very strongly agree with this. I think this needs to be a development priority for us. Few deadlines to get out of the way but when they are gone in a couple of weeks, want to put some work into an OO version of the latest master

[2018-01-12 13:59] richardcode commented on #8
@chrisroadmap @znicholls yes, let's go ahead and delete this.

[2018-01-12 14:18] znicholls commented on #7
@richardcode @chrisroadmap

A few thoughts on some potential rules/guidelines:

- Use test driven development. In very brief it means write your tests first, only write enough code to pass the tests, refactor the code once it's passing so you leave things tidier than when you started, repeat. If you want to read more have a look at [this nature article](https://www.nature.com/news/collaborative-so

[2018-01-12 22:19] chrisroadmap commented on #2
Done and merged into master.

[2018-01-12 22:19] #2 closed, assigned to nobody

[2018-01-12 22:19] chrisroadmap commented on #8
Done!

[2018-01-12 22:19] #8 closed, assigned to nobody

[2018-01-15 09:50] chrisroadmap commented on #7
This crosses over with #6 but I've added my thoughts here.

I've added some simple tests in the branch `unit_tests`. I ran a few minimal examples and saved the output as numpy files. Running pytest performs the calculations and compares them to the saved output, for which an error will be raised if it doesn't agree. These tests are retrospective based on existing code, so this is not TDD, but in f

[2018-01-15 10:04] chrisroadmap commented on #6
I'm about to get acquainted with [travis-ci](https://travis-ci.org). It is free for open source projects and requires access to our repository under [OAuth](https://help.github.com/articles/authorizing-oauth-apps/). I've screenshotted the data it wants access to, below. Happy to proceed?

![image](https://user-images.githubusercontent.com/7061148/34937042-481796fa-f9db-11e7-889a-46839786f247.png)

[2018-01-15 11:35] znicholls commented on #6
Fine by me

On Mon, Jan 15, 2018 at 9:04 PM, chrisroadmap <notifications@github.com>
wrote:

[2018-01-15 11:35] znicholls commented on #7
Beauty. With practice we'll get better at writing better tests but as long as we're trying we're onthe right path.

[2018-01-16 12:06] chrisroadmap commented on #6
I have travis-ci working on the `unit_tests` branch which automates the pytest script every time you commit and I get an email notification that tell you whether it passes or fails. It's pretty cool. Lots more we can do with this but a good start. I like the idea of embedding a status badge into the README.md file (check out shields.io) that dynamically updates the build status. Will pull request

[2018-01-16 13:02] znicholls commented on #6
Wicked sounds awesome!

[2018-01-18 08:55] rgieseke opened #12 "Ensure division always behaves as in Python 3"
Copied over from #11:

That's an important point! The easiest is probably to add

[code]

to the codebase. This should be easier than riddling the code with type checks or conversions.

[2018-01-18 09:18] rgieseke commented on #12
Here's an example where this would make a difference.
[code]

[code]

[2018-01-21 11:35] #12 closed, assigned to nobody

[2018-02-01 16:10] rgieseke opened #17 "Zenodo releases"
Maybe you have already been planning this, but since you're already doing these nice releases (incl. Changelog info) it would be very little effort to add Zenodo archiving and DOI minting to FAIR:

https://guides.github.com/activities/citable-code/

That way you could also refer to an archived version in the final version of the paper.

[2018-02-13 14:23] rgieseke opened #19 "r0 default value"
Hi, a question on the current default value for `r0`: It is 32.40, in the Disucssion paper, p4 it says

Is this for compatibility reasons?

[2018-02-13 17:13] chrisroadmap commented on #19
Yes, for compatibility with v1.0 the default values were left as is so that anyone who has used FAIR in the past doesn't get any surprises when they try to run the latest version. r0=35 gives an ensemble median CO2 in 2017 of 403 ppm, i.e. consistent with observations (of course, the influence of the recent El Nino has affected this, and FAIR only responds to forced variability, but we're probably

[2018-02-14 14:06] rgieseke commented on #19
Thanks for the explanation!

This makes a small difference, e.g. for RCP6

396.7 vs 403.8 ppm in 2017

1.5 degrees reached 5 years later and about 0.08 deg. difference in 2100.

![r0_value](https://user-images.githubusercontent.com/198537/36207945-c7d1f484-1197-11e8-8ee1-99d50a36d0bc.png)

It's understandable (and great) not wanting to break backwards compatibility but here users coming from the 1

[2018-02-14 14:10] richardcode commented on #19
Don't have a problem in changing the default parameters to what ends up in your GMD @chrisroadmap . Maybe would be best to wait for the completion of the paper revisions in case any changes that are required/implemented in response end up shifting this around slightly?

[2018-02-14 14:13] richardcode commented on #19
The value choice is a bit "horses for courses". In Millar et al 2017 we never explicitly constrained against the historical and the value was chosen to be indicative of the response to more idealised pulse experiments with the ESMs/EMICs. Changing this value will give small differences in projections as you have shown @rgieseke .

[2018-02-16 16:48] chrisroadmap commented on #19
I think some of the difference also may come from use of a historical volcanic forcing in the large ensemble that I set up in the GMD paper. This will dampen the historical temperature response and hence the carbon uptake will be more efficient over the historical period with a volcanic forcing switched on. In my ensemble I am trying to match the historical as best as possible through a variety of

[2018-02-20 14:17] chrisroadmap commented on #19
I also agree about having different functions for the carbon cycle and multi-gas models. I'll work on this in the future alongside some proper documentation.

[2018-03-12 20:01] chrisroadmap opened #23 "Add documentation"
Ideally, example usage of most of the inputs to `fair_scm`. Documentation is strongly encouraged for GMD submissions and will be necessary for users.

I have kicked this off with the `documentation` branch, using Sphinx and reStructuredText files.

[2018-03-15 12:36] rgieseke opened #25 "Constraining example"
Hi,
I tried to run the constraining example in the notebook, there are missing parents (for Py3) for the print statements, but I also don't get a reduction of the ensemble.

I haven't checked how the constraining function actually works, but if I plot the ensemble plus the observed data normalized to 1850 - 1900 I get a pretty good match.

![normalized-1850-1900](https://user-images.githubusercont

[2018-03-15 12:38] rgieseke commented on #25
Code I used for plotting:

[code]

[2018-03-15 13:17] chrisroadmap commented on #25
Ah, yes, I think I know why. I recently changed the constraining function so that it now outputs a 5-tuple of (pass/fail, A, B, C, D) where A and C are the slope and B and D are intercepts of the model and observations.

If you call `constrain.hist_temp` as:

[code]

on an ensemble you should get some outputs which are filtered out. I think the notebook needs an update to reflect this new treatmen

[2018-03-15 13:24] rgieseke commented on #25
Yes, that was the problem ... thanks for the quick reply!

[2018-03-29 12:19] michellecain opened #28 "Running idealised scenarios for non-CO2 emissions"
Hello,

I've just started using FAIR in Oxford and I've run into an issue that Richard and I haven't been abkle to figure out.

I want to run some idealised emissions pulses using FAIR. I succeeded when emitting CO2 only. I'm using the multigas version. This is roughly what I did:

Import RCP emissions (because I was running that before and had it set up). Set the emissions all to zero except for

[2018-03-30 08:44] chrisroadmap commented on #28
Hi Michelle,

I set up the multi-gas version of FAIR to give realistic results when spun
up from pre-industrial and historical emissions under the RCP scenarios, so
it may give strange results for a pulse emission of methane.

The first thing to note is that natural, time varying emissions of CH4 and
N2O are switched on by default in multigas mode and that present-day and
pre-industrial emissions

[2018-04-03 13:53] michellecain commented on #28
That explains a lot, thank you!
It would be great if you could suggest the best setup for running an idealised pulse of methane (or any gas, as I'd like to look at other gases too) when you are back.
Thanks!
Michelle

[2018-04-03 17:59] chrisroadmap commented on #28
Hi Michelle,

This should work for methane. I had to tune the pre-industrial concentrations of CH4 and N2O ever so slightly as it appears that the pre-industrial concentrations and the first year of natural emissions aren't quite in balance (I think its because one or the other is actually defined as a mid-year value so is 6 months out of sync in the time series).

[code]

[2018-04-04 12:48] michellecain commented on #28
Thanks, this seems to work for methane for me. Is it OK to use it in a similar way for CO2, N2O and other gases, by changing the column in the emissions to match the intended species, and change the index of scale to match?

[2018-04-05 11:44] chrisroadmap commented on #28
Hi Michelle,

N2O and minor gases should work fine in a similar way. Forcing index number 2 is N2O, and number 3 is a catch-all for minor gases, whereas individual concentrations of the GHGs are available. Hopefully this should be semi-clear from the docs...

CO2 should also work. In multi-gas mode the Etminan forcing routine is used which takes band overlaps with N2O into account. You can also ru

[2018-05-02 10:22] #25 closed, assigned to nobody

[2018-05-02 12:51] #6 closed, assigned to nobody

[2018-05-15 15:08] chrisroadmap commented on #23
Now merged into master at v1.3. Still needs a function-by-function index - most functions have docstrings but rather unhelpfully `fair_scm` does not - this is still a to do.

[2018-05-15 15:10] chrisroadmap commented on #17
@richardcode @znicholls any chance one of you could enable third party access to Zenodo on OMS-NetZero if you're happy? Would be really nice to have a DOI for this.

[2018-05-15 21:57] znicholls commented on #17
Done.

[2018-05-16 08:50] #17 closed, assigned to nobody

[2018-06-28 16:08] michellecain commented on #28
Hi Chris

Thanks so much for your earlier help. I have a new but related query which is hopefully straightforward to answer.

I wanted to test varying the lifetime of methane. As the lifetime is 9.3 in my input file, I thought that this following code should be identical to running without specifying the "lifetimes":

[code]
However, the curves look very slightly different:

![lifetime9_3](https:/

[2018-06-29 14:02] chrisroadmap commented on #28
Hi Michelle,

The problem is that the non-CH4 lifetimes are set to zero in your example. This will affect the radiative forcing for N2O due to its codependence with methane, and thus temperature. Here's how to fix:

[code]

[code]

    C:\Users\mencsm\FAIR\fair\forward.py:378: RuntimeWarning: divide by zero encountered in double_scalars
      C[t,2] = C[t-1,2] - C[t-1,2]*(1.0 - np.exp(-1.0/lifetim

[2018-08-01 11:33] rgieseke opened #36 "RCP naming"
Would be nice (since Pymagicc, MAGICC and Pyhector have converged on `26`, `45`, `60`, and `85` if FAIR allowed for these too.

It would be no problem to keep `3PD` and `6` for backwards compatibility.

I'm happy to provide a PR if needed.

[2018-08-02 10:46] chrisroadmap commented on #36
I'm about to merge in a commit which does this and also moves the data files themselves out of the RCP directory. The first step on a very long road to FaIR 2.0.

[2018-08-02 10:46] #36 closed, assigned to nobody

[2018-08-22 12:19] rgieseke opened #41 "1.3.4"
Are you planning a 1.3.4 release? 1.3.3 is broken for me due to the file moving to `data`

https://github.com/OMS-NetZero/FAIR/commit/f16b9b52f2a1f8b12e439e6c73726c4b41255bc8

which was fixed in #40

[2018-08-24 22:03] chrisroadmap commented on #41
OK, hopefully that's fixed in the new release!

[2018-08-24 22:03] #41 closed, assigned to nobody

[2018-08-25 06:34] rgieseke commented on #41
Thanks! Works for me!

[2018-10-02 09:10] chrisroadmap opened #42 "CO2-only scale factor bug"
When running in CO2-only mode, FAIR generates an error when the scale keyword is a scalar. MWE:

[code]

This will be fixed in the next patch; a temporary workaround is to use an array which is the same length as the emissions input:

[code]

[2018-10-02 15:40] chrisroadmap opened #43 "Add SSPs to FAIR"
Much like the RCP emissions datasets can currently be imported, it would be good to also do this for the SSPs.

The SSP emissions files (in MAGICC SCEN format) do not appear to be publicly available yet, so would also require permission from relevant people to include within open-source FAIR.

[2018-10-04 07:09] rgieseke commented on #43
@znicholls Do you know a timeline for this?

[2018-10-04 10:56] znicholls commented on #43
would guess middle of next year, maybe earlier but no promises

[2018-10-04 12:20] chrisroadmap commented on #43
That's cool - park for now

[2018-10-26 18:01] #42 closed, assigned to nobody

[2018-11-14 14:39] znicholls opened #48 "Add AR5 impulse response model adaptor for OpenSCM"
**Is your feature request related to a problem? Please describe.**

Given the similarities between FAIR and the AR5 IR model, it would be great if we could share the code/setup in this repo.

**Describe the solution you'd like**

Add an AR5IRAdaptor class which allows OpenSCM to run the AR5IR model from within FAIR.

**Describe alternatives you've considered**

Make a new repo for the AR5IR, seems

[2018-11-19 05:46] chrisroadmap opened #49 "Change model name to FaIR"
Not really a bug report or feature request so not using template...

There is already a model used in the IAM community called FAIR (https://models.pbl.nl/image/index.php/Climate_policy). In order to differentiate this model from that one, the model here should now be referred to FaIR in the future. The acronym is the same with a slight re-spelling (Finite-amplitude Impulse Response model). Change

[2018-11-19 07:24] znicholls commented on #49
To double check, all this requires is updates in the docs?

On Mon, 19 Nov 2018 at 5:46 am, chrisroadmap <notifications@github.com>
wrote:

[2018-11-19 08:12] chrisroadmap commented on #49
Docs and README, I think, yep.

[2018-11-22 18:06] #49 closed, assigned to nobody

[2019-03-26 09:59] Hans-PeterH opened #55 "Running FaIR in Multigas Mode with many Zeros"
Hello,

we want to calculate how much specific companies contribute to global warming. For this we use FaIR in Multigas Mode. Until 2015 we use data from RCP2.6; from 2016 onwards we use emission data of the company (mostly only CO2) and in addition methane and nitrous oxide from natural sources (data provided by FaIR) and from agriculture (SSP database). We project the emissions of the company to

[2019-03-27 09:39] chrisroadmap commented on #55
Hi Hans-Peter,

First, great that you are using FaIR for this!

Potentially, yes. The level of emissions of minor GHGs and short lived climate forcers affects some of the other classes of forcers (tropospheric ozone, aerosol etc). Additionally, by setting emissions of GHGs to zero except for CO2, CH4 and N2O gives a declining atmospheric concentration of the minor GHGs, which reduces the radiative

[2019-03-27 09:50] chrisroadmap opened #56 "Flexibility of input emissions"
**Is your feature request related to a problem? Please describe.**

It would be useful to have a choice of which emissions to run FaIR with. Currently the options are CO2-only, or all 39 species contained in the RCP databases.

**Describe the solution you'd like**

To be able to choose a subset of emissions to run FaIR that produces sensible results - a kind of intermediate step between the CO2 on

[2019-03-27 11:04] Hans-PeterH commented on #55
Hi Chris,

many thanks for your helpful comments!

[2019-04-02 09:54] Hans-PeterH commented on #55
Hi Chris,

can you please tell me where I can change the ECS and TCR values? I haven't found it in the code. Thanks!

[2019-04-02 10:09] rgieseke commented on #55
Hi @fuchur12

It's the `tcrecs` parameter

https://github.com/OMS-NetZero/FAIR/blob/master/fair/forward.py#L69

As for the differences between MAGICC and FaIR it's also important to keep the reference period in mind. As mentioned by @chrisroadmap differences in the near-term rate of warming are important.
This can thus lead to differences due to picking a different reference period.

My slides fro

[2019-04-04 21:34] chrisroadmap commented on #55
Awesome - cheers @rgieseke

I'll close this issue but re-open if you have any more questions.

[2019-04-04 21:34] #55 closed, assigned to nobody

[2019-04-23 10:09] Hans-PeterH opened #59 "RCP 1.9"
Are there plans to integrate data for RCP 1.9 into FaIR?

Does anyone know whether there is a public available dataset for RCP 1.9 having the same structure as the data for the other RCPs? Until now I found only data in the SSP database for some gases and 10 year intervals.

[2019-04-23 10:10] znicholls commented on #59
Not yet, it will come out as part of the publication on the process to derive the SSP GHG concentrations (the paper will be published as Meinshausen et al. 2019).

[2019-04-23 10:14] Hans-PeterH commented on #59
@znicholls Thanks for the info.

[2019-04-28 10:01] #4 closed, assigned to nobody

[2019-05-02 11:18] chrisroadmap opened #61 "Different piControl values for some GHGs in "steady" module"
In the call to `fair_scm` the following pre-industrial background concentrations of GHGs are used:
CO2: 278ppm
CH4: 722ppb
N2O: 273ppb
CF4: 34.497ppt
CH3Br: 13.0975ppt
CH3Cl: 547.996ppt

The latter three values were chosen in order to provide a pre-industrial steady state with the natural emissions of these compounds (given in the RCPs) and lifetimes (given in AR5).

However in the module `constan

[2019-05-19 14:00] duncanwp opened #64 "cmip5tcrecs.csv missing from distribution"
When running the binder notebook I get the following error when trying to generate the ensemble members:

`OSError: /srv/conda/envs/notebook/lib/python3.7/site-packages/fair/tools/tcrecs/cmip5tcrecs.csv not found.`

I suspect this might be to do with the tools/tcrecs folder not being included in the MANIFEST.in file, and hence the cmip5tcrecs.csv file not being included in the pip distribution.

[2019-05-20 08:12] #64 closed, assigned to nobody

[2019-07-16 16:44] TeddyHornsby opened #66 "TCRECS function between Python 3.7 and 2.7"
**Describe the bug**

Hi all, so I've been adapting some code and I think I've come across a translation issue between py2.7 and py3.6 when specifying the TCR & ECS ("TCRECS") values. the following code runs on py2.7.16 platforms but doesn't work on py3.7.3. i'm using jupyter notebook mainly but I've replicated the issue on several computers and platforms.

**Failing Test**
[code]

the error code

[2019-07-17 20:38] chrisroadmap commented on #66
Hi @TeddyHornsby, thanks for this. I can also replicate this issue in py3.6, whereas in py2.7 it doesn't raise an error. The workaround you suggest forces tcrecs to be an array and once tcrecs is an array everything works smoothly. I'll work on a bug fix for this. Cheers again.

[2019-07-17 22:17] chrisroadmap commented on #66
The error is in this section of `forward.py`

[code]

which in python 2 would convert any variable in scope that was a list into a numpy array. What is very strange is that I've added a new test that includes your example above, and it passes in python 3. I'll need to think some more about what to do here, but for now the workaround is to pass every argument to `fair_scm` that could possibly be a

[2019-07-18 08:27] chrisroadmap commented on #66
This test, which should fail based on the behaviour above, passes: https://github.com/OMS-NetZero/FAIR/compare/fix-py3-tcrecs

So it seems that if running interactively, you need to pass arguments to `fair_scm` as a `numpy` array explicitly. This is the python 3 workaround for now. For v2.0 I'll work on a smarter solution.

[2019-07-18 08:37] TeddyHornsby commented on #66
Thanks Chris, will use the workaround for now, appreciate!

[2019-08-17 11:58] DentonGentry commented on #56
A related point, I think: in some cases I have estimates for HFCs, but just total tonnage not broken out into individual HFC formulations. For example, AMPERE has a forecast with CO2 (Energy and Industry), CO2 (land-use change emissions), F gasses-CO2eq, CH4-CO2eq, and N2O-CO2eq. A software model I'm working on produces results in those same categories.

I could get an estimate for the percentage

[2019-09-14 14:27] TeddyHornsby opened #67 "Cowtan and Way data"
Hi all, sorry if this is a stupid question! I was wondering if any of you have a reference for the Cowtan and Way data held within the FaIR download? The documentation is a little unclear on where it comes from and I can only find data online for the original source up to 2014.

Cheers,
Teddy

[2019-09-15 08:18] znicholls commented on #67
Hi Teddy,

Not a stupid question at all. You can download it from http://www-users.york.ac.uk/~kdc3/papers/coverage2013/series.html (search for 'HadCRUT4 infilled by kriging' under the 'Version 2.0' heading).

If you use `wget`, you can simply do

[code]

Hope that works,

Zeb

[2019-09-15 09:18] TeddyHornsby commented on #67
Excellent thanks very much!

[2019-09-16 07:09] chrisroadmap commented on #67
Cheers @znicholls, I'll close this but feel free to re-open with any follow up questions.

[2019-09-16 07:09] #67 closed, assigned to nobody

[2019-11-12 13:19] chrisroadmap opened #72 "Breakdown of Etminan CO2 forcing relationship"
Above about 3000 ppm CO2 the non-logarithmic terms in the Etminan relationship start to dominate and produce CO2 forcing that is no longer monotonically increasing with CO2 concentrations. Above around 6600 ppm the forcing for increasing CO2 turns negative! In their defence the relationship was not trained to fit such high values of concentrations, but should users ever want to investigate palaeo

[2020-07-14 14:54] dyrehaugen opened #79 "Example Notebook don't load only says: Sorry, something went wrong. Reload?"
**Describe the bug**

A clear and concise description of what the bug is.

**Failing Test**

Please put the code (ideally in the form of a unit
test) which fails below

**Expected behavior**

A clear and concise description of what you expected to happen.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**System (please complete the following information):**

 - OS:

[2020-07-14 21:01] znicholls commented on #79
Hi, thanks for raising the issue. In my experience this is typically a browser problem which sometimes solves itself with a simple refresh. Sometimes it happens because the notebook is too big. In any case, I’m not sure it’s something we can fix so would close this issue unless @chrisroadmap has other ideas?

[2020-07-20 14:47] Hans-PeterH commented on #72
Meinshausen et al. (2019; https://doi.org/10.5194/gmd-2019-222, Section 2.7) suggest a modification of the formulas of Etminan et al. which is valid for higher concentrations. Do you plan to include these formulas into FaIR such that a transition from Etminan to Myhre is no longer necessary?

[2020-07-21 07:10] chrisroadmap commented on #72
Excellent suggestion! I will do this next week when at my desk.

On Mon, 20 Jul 2020, 15:47 Hans-Peter Hafner, <notifications@github.com>
wrote:

[2020-07-21 07:51] Hans-PeterH commented on #72
Thanks!

[2020-08-06 12:20] chrisroadmap commented on #79
I'm going to close this a Zeb has answered above - if the problem persists I would recommend downloading or cloning the repository and accessing the notebook that way.

[2020-08-06 12:20] #79 closed, assigned to nobody

[2020-08-06 12:24] chrisroadmap commented on #66
We don't claim to support python 2 any more, so I'm going to close this issue. Solution is to pass anything that could be a list as a `numpy` array.

[2020-08-06 12:24] #66 closed, assigned to chrisroadmap

[2020-08-06 12:39] znicholls commented on #59
@Hans-PeterH if you're still interested I'd direct you to the RCMIP protocol (rcmip.org, specifically https://www.rcmip.org/#h.p_7MDJE6a8SpvT). The associated paper is https://gmd.copernicus.org/preprints/gmd-2019-375/. If that works, can you close this?

[2020-08-06 14:10] Hans-PeterH commented on #59
@znicholls thanks for the link to the data and the paper.

[2020-08-06 14:10] #59 closed, assigned to nobody

[2020-08-06 16:25] #72 closed, assigned to nobody

[2020-09-15 10:58] znicholls commented on #48
resolved by https://github.com/openscm/openscm-twolayermodel

[2020-09-15 10:58] #48 closed, assigned to znicholls

[2020-09-22 10:58] znicholls opened #85 "FaIRv2.0"
This issue is intended to be a place to discuss how we deal with FaIR v2.0. I have a few questions about how we want to do this in practice, which shouldn't hold up @JGBroadbent's work but would be good to sort out sooner rather than later.

1. Should FaIRv2.0 be in the same repository? My suggestion is yes, but that is predicated on the assumption that active development of FaIR1.X stops once 2.0

[2020-09-24 08:00] njleach commented on #85
First question: my thought is that it should be in the same repo (and this is what's currently stated in the update paper). I do completely agree with you on the two "masters" issue - it would be super confusing for any users.

Second questions:
1. I completely agree.
2. Strong agree.
3. Yes.

You've pretty much described how I imagined the switchover would go so I don't really have anything else

[2020-09-24 08:13] znicholls commented on #85
Great! Keen to hear what @chrisroadmap thinks too.

My instinct would be in this repo too. Then we just need to find an automated way of checking that it is still somewhat correct. That will require a bit of head scratching, but I'm sure we'll find a way.

[2020-09-24 08:21] njleach commented on #85
Awesome - and yep for sure. I'll do a bit of research on testing excel files. I've now got a working version that is more or less identical to the python version (the timestepping is very slightly different because using what I did in python is tricky in Excel and makes the whole thing way less readable so they aren't bit-identical but they given pretty much the same results).

[2020-09-28 09:06] chrisroadmap commented on #85
sorry slow - spinning plates with 1.6 for AR6

1. I did create a new empty repo at https://github.com/OMS-NetZero/FAIR2 which I set up with some skeleton linting and testing which could be a useful outline. It looks like a lot of work has been done on the branch on this repo so we can delete that other one if it won't be used.
2. Yes - and see 1. above.
3. Yes fine, breaking history shouldn't be a

[2020-09-29 06:19] znicholls commented on #85
That would be my guess. It'll be a bit awkward for you as I think we'll have to either a) do it in a branch in this repo (running into the two master problem a bit but if it's only bug fixes maybe not so bad) or b) split out a FaIR1.X repo.

Yep, I think if we put it in a folder called e.g. `excel-implementation` then we can easily keep it all separate.

Maybe [xlwings](https://docs.xlwings.org/en

[2020-09-29 16:38] njleach commented on #85
Sounds good to me.

On xlwings, I thought that looked like the best (only?) option for automating checks of the Excel version. I've started to have a go and it seems like it could be used (in a limited capacity). As far as I can tell, xlwings could be used to extract values from a (static) workbook. So as far as I can see, we could definitely run automated testing to compare the output of a single

[2020-09-29 19:05] chrisroadmap commented on #85
Very happy to retire FaIR 1.x once this is up and running and tested to verify similar behaviour. I'm keeping it going now to fall back on (and I haven't learned FaIR 2 yet)

[2020-09-30 00:49] znicholls commented on #85
Damn I was hoping it could be made dynamic... Alright in that case then I think we have to just test that one pre-defined scenario and configuration, and put the warning that everything else is untested. I don't see how we can do much better...

[2020-09-30 08:24] JGBroadbent commented on #85
Hi All,

Just to let you know that a working (i.e. it passes my tests on my machine) version of FaIR 2.0.0 (minus the OpenSCM runner or any built in parameter sets), is now uploaded on my fork of the FAIR-v2.0.0 repo: https://github.com/JGBroadbent/FAIR/tree/FAIR-v2.0.0/fair/2.0.0 .

Let me know thoughts etc + what you'd like next in terms of functionality (beyond an OpenSCM runner and some cleani

[2020-09-30 17:44] rgieseke commented on #85
It seems openpyxl (https://openpyxl.readthedocs.io/en/stable/index.html) is another alternative for creating/reading XSLX files.
(Xlwings seems to be Mac/Windows only.)

On the testing side of different scenarios I imagine one could use a headless LibreOffice Calc version to check different scenarios within GitHub Actions or maybe use the Google Sheets API to upload or check files with different s

[2020-09-30 19:26] njleach commented on #85
Thanks @rgieseke! This is really helpful - I'll have a look into these options. I'm a little concerned that some of the functions I've used to try and make the workbook more dynamic are going to make it incompatible with Calc / Sheets (I've tried opening it in in Calc and it doesn't work, with enough bits going wrong that it would be a lot of effort to make it compatible; though if this is crucial

[2020-09-30 21:05] rgieseke commented on #85
As i understood one of the ideas was to have a model that could fairly easy be implemented in different languages/environments. In case of these major differences already, LibreOffice/Google Sheets would be different environments then, I guess ...

To test the Excel version programmatically, maybe it's possible to interact with Office 365 or install an Office demo version in a Windows-based GitHub

[2020-11-05 01:14] FrankErrickson opened #93 "Adding oxidised methane to carbon pools"
@kar5469 and I are working on a project that couples in a new methane cycle model into FAIR (but coded up in Julia) and had a quick question on how you handle oxidised methane. It looks like the `oxidised_CH4` term is being added to all four carbon pools (i.e. see [Line 636 in forward.py](https://github.com/OMS-NetZero/FAIR/blob/916265bd3a94a2592fa2605c6c8e0e110d4083fc/fair/forward.py#L636)).

We

[2020-12-08 18:24] chrisroadmap commented on #93
Yep this looks like an error - I'll make a PR

[2020-12-09 08:22] chrisroadmap commented on #93
Interestingly this doesn't fail any of the pre-calculated tests: so while it was implemented clunkily it wasn't affecting the model results.

[2021-01-09 02:31] znicholls opened #98 "FaIR2.0 array optimisation"
In the [GIR repository](https://github.com/njleach/GIR), it is possible to run FaIR with an S x p x F x t array internally (S is scenarios, p is parameter sets, F is number of forcing species). This provides a massive speed up when running larger perturbed parameter ensembles over multiple scenarios. We should add the ability to do this with the FaIR2.0 implementation here.

My suggestion would be

[2021-01-09 14:39] njleach commented on #98
I'll take a look and give it a go in my spare time. I'll certainly have a go at first seeing if we can achieve this with identical numpy functions. A few options / choices that I've included in the GIR code but that we may want to re-think (for simplicity / usability) here:

- Ability to make S/p fully dependent on each other & therefore reduce overhead when you have parameter sets corresponding t

[2021-01-10 22:16] znicholls commented on #98
I'd suggest start with a specific use case then generalise, rather than trying to generalise first i.e. it might be simplest to just write one interface first (just copy the one you have in GIR) and see how that looks. From there, it might be pretty easy to see the pattern and generalise. We can always have more than one interface (e.g. one for F x p x S x t, one for F x S x t etc.).

No, if the i

[2021-01-13 09:10] njleach commented on #98
Very useful advice- in the GIR repo I did try to make it (more) general; and it ended up pretty messy and with some quirks that new users would find confusing (I expect). I'l aim for ending up with multiple much thinner / simpler blocks than a complicated one-size-fits-all chunk.

One package I use a lot already that I'm wondering might help us make the code easy to follow (especially with the mul

[2021-01-13 09:46] znicholls commented on #98
I'm a big fan of xarray so definitely plus one from me (would also mean we could use labelled arrays internally which helps debugging)

[2021-06-14 13:32] fracamil opened #100 "Calculation of CO2 concentrations relative to aviation"
Dear all,

I began to learn how to use FaIR, firstly to better understand and to reproduce the cases demonstrating GWP* (see [“Demonstrating GWP*: a means of reporting warming-equivalent emissions that captures the contrasting impacts of short- and long-lived climate pollutants”](https://iopscience.iop.org/article/10.1088/1748-9326/ab6d7e#references)) and secondly to integrate the aviation CO2 emi

[2021-06-15 07:49] chrisroadmap commented on #100
Hello @fracamil,

The factor of 3.63 difference could explain things. FaIR takes emissions of CO2 in units of GtC (rather than GtCO2). Are you reporting the change in CO2 emissions in GtCO2? Dividing this by 3.664 will give you GtC, which will be close to the differences you are experiencing. If it's not this, could you send a code snippet?

Chris

[2021-06-19 17:40] fracamil commented on #100
Hello @chrisroadmap,

I thank you for your quick answer which has been very helpfull.

You were right, the emissions I used were reported in GtCO2 and not in GtC (what a silly mistake!). After introducing the conversion in GtC of the input I use, the results I obtain are very close to those reported by Lee and al. in their 2021 paper.

I will be able from now on to implement contrail forcing based

[2021-07-15 07:30] chrisroadmap commented on #100
It looks like this answered the question, so I'll close this now.

[2021-07-15 07:30] #100 closed, assigned to nobody

[2021-08-26 00:38] kls2177 commented on #43
Hello, any update on this? Would definitely be nice to have the SSPs. Thanks!

[2021-08-26 08:53] chrisroadmap commented on #43
Hi Karen, currently on vacation and can do when I get back. Note that the default FaIR setup is for an AR5-like run. The aerosol and ozone assessments have changed substantially and the historical GHGs will require new "natural" balancing emissions. So yes, SSPs can be implemented, but with the caveat that results may not match either reality or the AR6 assessments in their default setups.

For so

[2021-08-26 12:25] kls2177 commented on #43
Thanks for your quick reply. Ok, sounds like it may be best for me to stick with the RCPs for my purposes.

[2021-09-07 15:02] chrisroadmap opened #102 "Migrate from travis-ci to GitHub Actions"
Seems like travis-ci.org has moved to travis-ci.com and broken CI - so now is a good time to move to GitHub Actions

[2021-09-08 12:37] #102 closed, assigned to nobody

[2021-09-10 05:09] chrisroadmap opened #104 "Lifetime corrections for AGWP and GWP"
The GWP calculations - included as a non-core tool in FaIR - should include lifetime corrections: see section 2.4 in https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2019RG000691 and 8.SM.13.5 in IPCC AR5 WG1.

[2021-09-10 12:07] fracamil commented on #43
Hello. Thank you @chrisroadmap for the importation inferface of the SSP. It is great to be able to try running FaIR with these inputs (which will be very usefull).

[2021-09-10 13:21] chrisroadmap commented on #43
No problem. I'll make this a v1.6.4 release so it will be available on PyPI and Conda.

[2021-09-10 13:24] fracamil commented on #43
Will be really great. Thanks in advance for that

[2021-09-10 13:49] chrisroadmap commented on #43
completed in #101

[2021-09-10 13:49] #43 closed, assigned to nobody

[2021-09-13 20:50] fracamil opened #106 "Set-up and parameters to tune FaIR for AR6-like runs"
Dear Chris,

You recently created a new version of FaIR able to load SSPs (v1.6.4). You mentionned in an answer of the associated issue thread that "the default FaIR setup is for an AR5-like run. The aerosol and ozone assessments have changed substantially and the historical GHGs will require new "natural" balancing emissions. So yes, SSPs can be implemented, but with the caveat that results may n

[2021-09-15 07:52] chrisroadmap commented on #106
Hello @fracamil,

Nothing here is secret and it's all on my AR6 repository - it's just that going from the default setup of FaIR to the one used in AR6 took several months and about 40 different keywords specified to the `fair_scm` interface ;)

One simple solution would be to add a new keyword to `fair_scm` (another one!) that would automatically select the AR6 median calibration. Anything beyond

[2021-09-16 22:47] chrisroadmap commented on #106
Right, have a look at https://doi.org/10.5281/zenodo.5513022 - it might make sense in combination with the AR6 repository.

[2021-09-17 09:33] fracamil commented on #106
Thank you very much! It will accelerate the probabilistic runs of FaIR with AR6 set-up and allow me to use efficiently the model :)

[2021-10-26 09:13] chrisroadmap commented on #106
Just to say, there will be an AR6-like calibration of FaIR v2 on the way. They are structurally slightly different models so the parameters are not exactly the same, but idea is that they should produce very similar distributions.